body {
    background-color: #EEEEEE;
}
div#wrapper {
        width:999px;
	margin-left: auto;
	margin-right: auto;
        border-radius: 5px;
        background: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
}

