/*General settings*/
@font-face {
    font-family: 'eve'; /*a name to be used later*/
    src: url(../fonts/eve.ttf); 
}
body {
    background-color: #440808;
    font-family: Arial Unicode MS;
}
div#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f4f4f4;
}
/*Styles for header.php*/
div#head {
    background: url(../header.png) repeat-x;
    height: 110px;
    margin:0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.logo {
    margin-top: 10px;
    height:60px;
}
div#bar {
    height: 20px;
    margin:0 auto;
    border-radius: 5px;
}
ul#bar {
    /*background-color:white;*/
    list-style: none;
    width: 100%;
    height: 24px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    margin-top: 0px;
    margin-left:0px;
    margin-bottom: 0px;
    position: relative;
    bottom:26px;
}
#bar #currentpage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ac0000;
    border: 1px solid #111;
    float: left;
    width: 10%;
    height: 24px;
    text-align: center;
}
#bar #currentpage a {
    font-variant: small-caps;
    color:white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size:20px;
    font-family: Arial Unicode MS;
    margin-bottom:4px;
}
#bar #currentpage:hover {
    background-color: #C73232;
}
#bar li {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:#383838;
    border: 1px solid #111;
    float: left;
    width: 10%;
    height: 24px;
    text-align: center;
}
#bar li:hover {
    background-color: #ac0000;
}
#bar a {
    font-variant: small-caps;
    color: #ffffff;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size:20px;
    font-family: Arial Unicode MS;
    position: relative;
    bottom:2px;
}
span#toptext {
    font-size: 25px;
    color:white;
    float:right;
    margin-right:5px;
    vertical-align:bottom;
    text-align: right;
    margin-top: 80px;
    font-family: eve;
}
div#logout {
    display: table;
    position:relative;
    width:400px;
    height:70px;
    float: right;
    left: 260px;
    font-size: 22px;
    color:white;
}
#logout a{
    font-size: 22px;
    color:white;
    float:right;
}
div#char {
    display: table;
    position: relative;
    font-size: 20px;
    color:white;
    float:right;
    margin-top:5px;
//    bottom: 63px;
    left: 85px;
}
/*Style for main body*/
div#mainbody {
    margin-left:5px;
    margin-right:5px;
}
div.results {
    position: relative;
    bottom: 160px;
    left: 260px;
}
form.reg {
    height: 200px;
}
td.maintext {
    color: #999;
    font-size:14px;
    padding-left:5px;
    background: url(../main_block.png) no-repeat -10px -160px;
    /*font-weight: bold;*/
    font-family: Arial Unicode MS;
    text-align:right;
}
table#pos {
    text-align:center;
    width: 100%;
}
tr#colored {
    background-color: #CCC8BE;
}
td#alert {
    color:red;
    font-weight: bold;
}
div#topic {
    display:table;
    background-color: #440808;
    margin-bottom:20px;
    height:16px;
    width: 101%;
}
span#topic {
    display: table-cell;
    color:white;
    font-size:16px;
    font-weight: bold;
    text-align:center;
    margin: 0 auto;
    font-family:eve;
    word-spacing:5px;
    vertical-align: bottom;
}
div.error {
    text-align:center;
    font-size:16px;
    margin: 0 auto;
    width: 400px;
    font-weight: bold;
    padding-bottom: 5px;
}
/*Style for bot.php*/
div.bottom {
    position: relative;
    top:5px;
    background: url(../toolbar.png) repeat-x;
    height: 46px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
span#bottom {
    margin-top: 20px;
    /*font-weight: bold;*/
    font-size: 15px;
    color: white;
    float: right;
    margin-right: 5px;
    vertical-align: bottom;
    text-align: right;
}